<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <true/>
    <key>method</key>
    <string>app-store</string>
    <key>signingCertificate</key>
	<string>Certificates.p12</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.gaetanschwartz.travely</key>
        <string>b7e28446-c471-4ca8-a98b-8e10fbf61ac3</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution: Gaetan Schwartz (Y2PPW6ETTC)</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>Y2PPW6ETTC</string>
</dict>
</plist>